.App {
  box-sizing: border-box;
  border: 1px solid green;
  width: 400px;
  height: 420px;
  text-align: center;
  margin: 10px auto;

}

#drum-machine {
  background-color: brown;
  width: 100%;
  height: 100%;

}





